<tr>
  <th>予約者名</th>
  <td><%= entry.user_name %></td>
  <th>Email</th>
  <td><%= entry.user_email %></td>
  <th>日付</th>
  <td><%= entry.reserved_date %></td>
  <th>時間</th>
  <td><%= entry.usage_time %></td>
  <th>人数</th>
  <td><%= entry.people %>人</td>
  <td>
    <%= link_to '削除', entry_path(entry.id), method: :delete, remote: true, data: {confirm: "予約を削除してよろしいでしょうか？"}  %>
  </td>
</tr>