<h1>予約確認画面</h1>

<p>
  <strong>予約者名</strong>
  <%= @entry.user.name %>
</p>
<p>
  <strong>Email</strong>
  <%= @entry.user.email %>
</p>
<p>
  <strong>日付</strong>
  <%= @entry.reserved_date %>
</p>
<p>
  <strong>時間</strong>
  <%= @entry.usage_time %>
</p>
<p>
  <strong>人数</strong>
  <%= @entry.people %>人
</p>

<%= render partial: 'confirm', locals: { entry: @entry, url: room_entries_path, submit: '予約確定' } %>
<%= render partial: 'confirm', locals: { entry: @entry, url: confirm_back_room_entries_path, submit: '訂正する'} %>