<h1>予約確認画面</h1>

<p>
  <strong>予約者名</strong>
  <%= @entry.user_name %>
</p>
<p>
  <strong>Email</strong>
  <%= @entry.user_email %>
</p>
<p>
  <strong>日付</strong>
  <%= @entry.reserved_date %>
</p>
<p>
  <strong>時間</strong>
  <%= @entry.usage_time %>
</p>
<p>
  <strong>人数</strong>
  <%= @entry.people %>人
</p>

<%= render 'confirm', entry: @entry, url: entries_path, submit: 'OK' %>
<%= render 'confirm', entry: @entry, url: confirm_back_entries_path, submit: 'NG' %>