<h1>ログイン画面</h1>
<%= form_with(model: @auth,local: true) do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit %>
  </div>

<% end %>